<section>
    <div>
        <ng-container *ngIf="!success; else successMsg">
            <div class="panel">
                <div class="form-group form-title">
                    <h3>RESET PASSWORD</h3>
                </div>
                <form [formGroup]="type" (ngSubmit)="sendResetLink()">
                <div class="form-group" [ngClass]="{'error': pwdError}">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                    <label [ngClass]="{'show': type.value.email.length > 0}">Email</label>
                </div>
                <div class="form-group d-flex mb-0" style="height: 50px">
                    <a class="back-to-login" routerLink="/auth/login" routerLinkActive="active">Back to Login</a>
                </div>
                <div class="reset-area">
                    <button type="submit" class="btn btn-success auth-btn" [disabled]="!type.valid">Set New Password</button>
                </div>
                </form>
            </div>
            <div class="err-msg" [ngClass]="{'error': pwdError}">
                Sorry, this password doesn't match any existing account.<br />
                Please try another email or contact your admin.
            </div>
        </ng-container>
        <ng-template #successMsg>
            <div class="header-title">
                Password Set
            </div>
            <div class="description">
                If you didn't get it, please check your spam folder or try to <a (click)="sendResetLink()">sent it again.</a>
            </div>
            <div class="success-msg">
                The reset link has been successfully sent to&nbsp;{{type.value.email}}<br />
                Please check this email and click the link to set a new password.
            </div>
        </ng-template>
    </div>
</section>