@import "pagination";
@import "table";
@import "top-panel";
@import "checkbox";
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.pointer{
    cursor: pointer;
}
.rotate {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.circled.sm {
    background: #0a55a1;
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 9px;
    float: left;
    margin-right: 5px;
}

.error {
    color: #f7941f;
}

bs-dropdown-container {
    z-index: 10000;
}