.emb-top-panel {
  padding-top: 28px;
}
.emb-top-panel.spaced {
  padding-bottom: 28px;
}
.emb-top-panel__last-synced {
  padding-right: 5px;
  margin: 30px 5px;
}
.emb-top-panel__last-synced p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #8e8e8e;
}
