<!-- hare you can have the basic layout of all the auth pages -->
<!-- auth works! -->
<!--this is not need, just to test the routes-->
<!-- <ul class="nav">
  <li class="nav-item"><a class="nav-link pt-4 pb-4 ml-4 mr-4 theme-color" routerLink="login"
      routerLinkActive="active">login</a></li>
  <li class="nav-item"><a class="nav-link pt-4 pb-4 ml-4 mr-4 theme-color" routerLink="forgot-password"
      routerLinkActive="active">forgot-password</a></li>
  <li class="nav-item"><a class="nav-link pt-4 pb-4 ml-4 mr-4 theme-color" routerLink="reset-password"
      routerLinkActive="active">reset-password</a></li>
</ul> -->

<router-outlet></router-outlet>