<section class="col track-section">
    <div class="row track-header">
        <div>
            <h2 class="track-title">Enter order number</h2>
        </div>
        <div routerLink="/app/receiveItems/identifyPackage/addpackage" class="track-other pointer">
            <span class="track-a">Continue without Order number  </span>
            <fa name="angle-right"></fa>
        </div>
    </div>
    <div class="row track-input">
        <input placeholder="Search order #"/>
    </div>
    <div class="row">
        <h2 class="track-title grey-text">No orders found, please find order number</h2>
    </div>
</section>